#about{
    &.md-padding {
        position: relative;
    }
    .about {
        position: relative;
        text-align: center;
        padding: 40px 20px;
        border: 1px solid #EEE;
        margin: 15px 0px;
        h3{
            color: $white !important;
        }
        &::after{
            content: "";
            background-color: $black;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 0%;
            z-index: -1;
            -webkit-transition: 0.2s width;
            transition: 0.2s width;
        }
        &:hover{
            &::after{
                width: 100%;
            }
        }
        i {
            font-size: 36px;
            color: $theme-color;
            margin-bottom: 20px;
        }
        h3{
            -webkit-transition: 0.2s color;
            transition: 0.2s color;
            font-size: 21px;
            font-weight: 700;
            margin-top: 0px;
            margin-bottom: 20px;
            color: $black
        }
        p{
            color: #868F9B;
            margin: 0 0 10px;
            font-size: 16px;
            line-height: 1.6;
        }
        a{
            font-size: 16px;
            line-height: 1.6;
            color: $theme-color;
        }
    }
}