header{
    position: relative;
    height: 100vh;
    .navbar-brand{
        font-weight: 600;
        line-height: 1.2;
        font-size: 30px;
        color: $white;
    }
    .navbar-toggler-icon{
        margin-top: 10px;
    }
    .navbar-collapse{
        .navbar-nav{
            @include media-breakpoint-down(sm){
                background-color: $theme-color;
                    li{
                        margin-left: 20px;
                        padding: 10px;
                        a{
                            color: $white !important;
                        }
                        .active{
                            color: $white !important;
                            padding: 0 !important;
                        }
                }
            }
        }    
        ul{
            li{
                display: flex;
                align-items: center;
                a{
                    padding: 0 8px 0px 8px;
                    text-decoration: none;
                    display: inline-block;
                    color: $white;
                    font-weight: 600;
                    font-size: 12px;
                    margin-right: 16px;
                    text-transform: uppercase;
                    outline: none;
                    &:hover{
                        border-bottom: 2px solid $theme-color;
                        padding-bottom: 10px;
                        transition: 1s all;
                    }
                    @include media-breakpoint-down(md){
                        font-size: 11px;
                    }
                    @include media-breakpoint-down(sm){
                        font-size: 15px;
                    } 
                }
                .active{
                    border-bottom: 2px solid $theme-color;
                    padding-bottom: 10px !important;
                    transition: 1s all;
                    color: $white;
                }
            }
        }
    }
}