<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <title>Logo</title>

    <% include /src/include/styles.ejs %>

</head>

<body>

    <% include /src/include/header.ejs %>

    <section id="home">
        <div class="bg-img" style="background-image: url('images/background1.jpg');">
            <div class="overlay"></div>
        </div>
        <div class="home-wrapper">
            <div class="container">
                <div class="row">
        
                    <div class="col-md-10 m-auto col-md-offset-1">
                        <div class="home-content">
                            <h1 class="white-text">We Are Creative Agency</h1>
                            <p class="white-text">Morbi mattis felis at nunc. Duis viverra diam non justo. In nisl. Nullam sit
                                amet magna in magna gravida vehicula. Mauris tincidunt sem sed arcu. Nunc posuere.
                            </p>
                            <button class="white-btn">Get Started!</button>
                            <button class="main-btn">Learn more</button>
                        </div>
                    </div>
        
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="section md-padding">
        <div class="container">
            <div class="row">
                <div class="section-header text-center">
                    <h2 class="title">Welcome to Website</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-cogs"></i>
                        <h3>Fully Customizible</h3>
                        <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-magic"></i>
                        <h3>Awesome Features</h3>
                        <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-mobile"></i>
                        <h3>Fully Responsive</h3>
                        <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio" class="section md-padding bg-grey">
        <div class="container">
            <div class="row">
                <div class="section-header text-center">
                    <h2 class="title">Featured Works</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-6 work">
                    <img class="img-responsive" src="images/work1.jpg" alt="">
                    <div class="overlay"></div>
                    <div class="work-content">
                        <span>Category</span>
                        <h3>Lorem ipsum dolor</h3>
                        <div class="work-link">
                            <a href="#"><i class="fas fa-external-link-alt"></i></a>
                            <a class="lightbox" href="#"><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6 work">
                    <img class="img-responsive" src="images/work2.jpg" alt="">
                    <div class="overlay"></div>
                    <div class="work-content">
                        <span>Category</span>
                        <h3>Lorem ipsum dolor</h3>
                        <div class="work-link">
                            <a href="#"><i class="fas fa-external-link-alt"></i></a>
                            <a class="lightbox" href="#"><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6 work">
                    <img class="img-responsive" src="images/work3.jpg" alt="">
                    <div class="overlay"></div>
                    <div class="work-content">
                        <span>Category</span>
                        <h3>Lorem ipsum dolor</h3>
                        <div class="work-link">
                            <a href="#"><i class="fas fa-external-link-alt"></i></a>
                            <a class="lightbox" href="#"><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6 work">
                    <img class="img-responsive" src="images/work4.jpg" alt="">
                    <div class="overlay"></div>
                    <div class="work-content">
                        <span>Category</span>
                        <h3>Lorem ipsum dolor</h3>
                        <div class="work-link">
                            <a href="#"><i class="fas fa-external-link-alt"></i></a>
                            <a class="lightbox" href="#"><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6 work">
                    <img class="img-responsive" src="images/work5.jpg" alt="">
                    <div class="overlay"></div>
                    <div class="work-content">
                        <span>Category</span>
                        <h3>Lorem ipsum dolor</h3>
                        <div class="work-link">
                            <a href="#"><i class="fas fa-external-link-alt"></i></a>
                            <a class="lightbox" href="#"><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6 work">
                    <img class="img-responsive" src="images/work6.jpg" alt="">
                    <div class="overlay"></div>
                    <div class="work-content">
                        <span>Category</span>
                        <h3>Lorem ipsum dolor</h3>
                        <div class="work-link">
                            <a href="#"><i class="fas fa-external-link-alt"></i></a>
                            <a class="lightbox" href="#"><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="service" class="section md-padding">
        <div class="container">
            <div class="row">
                <div class="section-header text-center">
                    <h2 class="title">What we offer</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="service">
                        <i class="far fa-gem"></i>
                        <h3>App Development</h3>
                        <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service">
                        <i class="fa fa-rocket"></i>
                        <h3>Graphic Design</h3>
                        <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service">
                        <i class="fa fa-cogs"></i>
                        <h3>Creative Idea</h3>
                        <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service">
                        <i class="far fa-gem"></i>
                        <h3>Marketing</h3>
                        <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service">
                        <i class="fas fa-pencil-alt"></i>
                        <h3>Awesome Support</h3>
                        <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service">
                        <i class="fa fa-flask"></i>
                        <h3>Brand Design</h3>
                        <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="features" class="section md-padding bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-header text-left">
                        <h2 class="title text-left">Why Choose Us</h2>
                    </div>
                    <p>Molestie at elementum eu facilisis sed odio. Scelerisque in dictum non consectetur a erat. Aliquam id diam
                        maecenas ultricies mi eget mauris. Ultrices sagittis orci a scelerisque purus.</p>
                    <div class="feature">
                        <i class="fa fa-check"></i>
                        <p>Quis varius quam quisque id diam vel quam elementum.</p>
                    </div>
                    <div class="feature">
                        <i class="fa fa-check"></i>
                        <p>Mauris augue neque gravida in fermentum.</p>
                    </div>
                    <div class="feature">
                        <i class="fa fa-check"></i>
                        <p>Orci phasellus egestas tellus rutrum.</p>
                    </div>
                    <div class="feature">
                        <i class="fa fa-check"></i>
                        <p>Nec feugiat nisl pretium fusce id velit ut tortor pretium.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-space">
                        <img src="images/about1.jpg" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="numbers" class="section sm-padding">
        <div class="bg-img">
            <div class="overlay"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <div class="number">
                        <i class="fa fa-users"></i>
                        <h3 class="white-text"><span class="counter">451</span></h3>
                        <span class="white-text">Happy clients</span>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="number">
                        <i class="fa fa-trophy"></i>
                        <h3 class="white-text"><span class="counter">12</span></h3>
                        <span class="white-text">Awards won</span>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="number">
                        <i class="fa fa-coffee"></i>
                        <h3 class="white-text"><span class="counter">154</span>K</h3>
                        <span class="white-text">Cups of Coffee</span>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="number">
                        <i class="fa fa-file"></i>
                        <h3 class="white-text"><span class="counter">45</span></h3>
                        <span class="white-text">Projects completed</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="blog" class="section md-padding bg-grey">
        <div class="container">
            <div class="row">
                <div class="section-header text-left">
                    <h2 class="title text-left">Recents News</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="images/blog1.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>Molestie at elementum eu facilisis sed odio</h3>
                            <p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non
                                blandit massa enim nec.</p>
                            <a href="#">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="images/blog2.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>Molestie at elementum eu facilisis sed odio</h3>
                            <p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non
                                blandit massa enim nec.</p>
                            <a href="#">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="img-responsive" src="images/blog3.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>Molestie at elementum eu facilisis sed odio</h3>
                            <p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non
                                blandit massa enim nec.</p>
                            <a href="#">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" class="section md-padding">
        <div class="container">
            <div class="row">
                <div class="section-header text-left">
                    <h2 class="title text-left">Recents News</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="contact">
                        <i class="fa fa-phone"></i>
                        <h3>Phone</h3>
                        <p>512-421-3940</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="contact">
                        <i class="fa fa-envelope"></i>
                        <h3>Email</h3>
                        <p>email@support.com</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="contact">
                        <i class="fa fa-map-marker"></i>
                        <h3>Address</h3>
                        <p>1739 Bubby Drive</p>
                    </div>
                </div>
                <div class="col-md-8 m-auto col-md-offset-2">
                    <form class="contact-form">
                    <input type="text" class="input" placeholder="Name">
                    <input type="email" class="input" placeholder="Email">
                    <input type="text" class="input" placeholder="Subject">
                    <textarea class="input" placeholder="Message"></textarea>
                    <button class="main-btn">Send message</button>
                    </form>
                    </div>
            </div>
        </div>
    </section>
    <% include /src/include/footer.ejs %>
    <% include /src/include/scripts.ejs %>
    <script>
        $(document).ready(function () {
                var itemsMainDiv = ('.MultiCarousel');
                var itemsDiv = ('.MultiCarousel-inner');
                var itemWidth = "";

                $('.leftLst, .rightLst').click(function () {
                    var condition = $(this).hasClass("leftLst");
                    if (condition)
                        click(0, this);
                    else
                        click(1, this)
                });

                ResCarouselSize();




                $(window).resize(function () {
                    ResCarouselSize();
                });

                //this function define the size of the items
                function ResCarouselSize() {
                    var incno = 0;
                    var dataItems = ("data-items");
                    var itemClass = ('.item');
                    var id = 0;
                    var btnParentSb = '';
                    var itemsSplit = '';
                    var sampwidth = $(itemsMainDiv).width();
                    var bodyWidth = $('body').width();
                    $(itemsDiv).each(function () {
                        id = id + 1;
                        var itemNumbers = $(this).find(itemClass).length;
                        btnParentSb = $(this).parent().attr(dataItems);
                        itemsSplit = btnParentSb.split(',');
                        $(this).parent().attr("id", "MultiCarousel" + id);


                        if (bodyWidth >= 1200) {
                            incno = itemsSplit[3];
                            itemWidth = sampwidth / incno;
                        }
                        else if (bodyWidth >= 992) {
                            incno = itemsSplit[2];
                            itemWidth = sampwidth / incno;
                        }
                        else if (bodyWidth >= 768) {
                            incno = itemsSplit[1];
                            itemWidth = sampwidth / incno;
                        }
                        else {
                            incno = itemsSplit[0];
                            itemWidth = sampwidth / incno;
                        }
                        $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers });
                        $(this).find(itemClass).each(function () {
                            $(this).outerWidth(itemWidth);
                        });

                        $(".leftLst").addClass("over");
                        $(".rightLst").removeClass("over");

                    });
                }


                //this function used to move the items
                function ResCarousel(e, el, s) {
                    var leftBtn = ('.leftLst');
                    var rightBtn = ('.rightLst');
                    var translateXval = '';
                    var divStyle = $(el + ' ' + itemsDiv).css('transform');
                    var values = divStyle.match(/-?[\d\.]+/g);
                    var xds = Math.abs(values[4]);
                    if (e == 0) {
                        translateXval = parseInt(xds) - parseInt(itemWidth * s);
                        $(el + ' ' + rightBtn).removeClass("over");

                        if (translateXval <= itemWidth / 2) {
                            translateXval = 0;
                            $(el + ' ' + leftBtn).addClass("over");
                        }
                    }
                    else if (e == 1) {
                        var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
                        translateXval = parseInt(xds) + parseInt(itemWidth * s);
                        $(el + ' ' + leftBtn).removeClass("over");

                        if (translateXval >= itemsCondition - itemWidth / 2) {
                            translateXval = itemsCondition;
                            $(el + ' ' + rightBtn).addClass("over");
                        }
                    }
                    $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
                }

                //It is used to get some elements from btn
                function click(ell, ee) {
                    var Parent = "#" + $(ee).parent().attr("id");
                    var slide = $(Parent).attr("data-slide");
                    ResCarousel(ell, Parent, slide);
                }

            });
    </script>
</body>
</html>